/* yanone-kaffeesatz-regular - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),
       url('fonts/yanone-kaffeesatz-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/yanone-kaffeesatz-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* custom.css */
.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}

.my-logo-left {
content: "";
    position: absolute;
    top: 15px;
    left:   20px;
    height: 20%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Rlogo.svg);
}

.my-logo-right {
content: "";
    position: absolute;
    top: 15px;
    right:   8px;
    height: 20%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/logo_ensg.png);
}